.container {
    background-color: rgb(202 224 230);
}
.sidebar{
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
}